:root {
    --black: #000000;
    --wait: #ffffff;
    --light-orange: #ff8b38;
    --dark: #585858;
    --light-gray: #b0b0b0;
    --dark-gray: #333333;
    --back: #9a9a9a;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    
}

 .header {
    padding: 1.1rem 0;
    position: relative;
    background-color: #000000;
 }

 .header_inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
    
 }

 .nav {
     display: flex;
     flex-wrap: wrap;
     align-items:center ;
     height: 100%;
 }

 .nav_link {
     margin-left: 1.9rem;
     position: relative;

     font-size: 1rem ;
     color: var(--light-gray);
     font-weight: normal;
     text-decoration: none;
 }


 .intro_head {
     text-align: center;
     margin-top: 68px;
     position: relative;  
     
 }

 .text_center {
     color: var(--light-gray);
     font-weight: 200;
     opacity: 100%;
     margin-bottom: 20px;
 }


 .intro {
     background-color: var(--back);
     display: flex ;
     justify-content: space-between;
     padding-bottom: 40px;
     position: relative;
     
 }

 .img_battom {
     margin-bottom: 25px;
    
 }

 .text_lift {
     display: flex;
     justify-content: space-between;
     color: var(--wait);
     font-weight: 200;
     font-size: 2.8rem;
     padding-bottom: 35px;  
    
 }

.border {
     border-bottom: 1px solid var(--wait);
     width:75px;
     display:inline-block;
     margin-bottom: 40px;
}

.tetx {
     font-size: 16px;
     margin-right: 44rem;
     font-weight: lighter;
     color: var(--wait);
     opacity: 60%;
     margin-bottom: 49px;
    
}

.button {
    display: inline-block;
    width: 141px;
    vertical-align: top;
    padding: 14px 34px;
    border: 1px solid var(--wait);
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: var(--wait);
    text-align: center;
}
.button:hover {
    background: black;
    color: white;
    opacity: 0.7;
}
